/* General */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
}

/* Header */

header {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

img#logo {
  width: 250px;
  padding-top: 10px;
}

.social-icons img {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

.social-icons img {
  width: 28px;
  margin: 0px 20px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.social-icons img:hover {
  transform: scale(1.25) perspective(1px);
}

.social-icons {
  gap: 10px;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}

.intro h1 {
  font-size: 2.5rem;
  color: #d86982;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", serif;
  padding: 0;
  margin: 0;
}

.intro h2 {
  font-size: 1.5rem;
  color: #555;
  font-weight: 300;
  max-width: 600px;
  margin: 1rem auto;
  font-family: "Montserrat", serif;
}

.columna-horiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.columna-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

/* Sección de puntos */

.puntos {
  padding: 5rem 1.5rem;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Cards */

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  align-items: center;
}

.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: #4a4a4a;
  --labelOffset: 1rem;
  --arrowClipSize: 0rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: #d86982;
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .card-content {
  background-color: #f5e0e9;
  --inlinePadding: 1.5em;
  --boxPadding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  gap: 0.25em 1em;
  position: relative;
  width: 525px;
  text-align: center;
}

.olcards li .card-content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .card-content::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}

.intro button {
  background-color: #d86982;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  transition: all 0.5s ease;
  margin-bottom: 3rem;
}

.intro button:hover {
  box-shadow: 0px 12px 12px rgba(78, 76, 76, 0.2);
  background-color: #b84e6b;
}

#Nuria-libro {
  width: 27.5%;
}

h3,
.testimonios-title {
  font-size: 2rem;
  color: #d86982;
  margin-bottom: 2.5rem;
  font-family: "Montserrat", serif;
}

.testimonios-title {
  margin-bottom: 1rem;
}

.puntos ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.puntos ul li {
  position: relative;
  font-size: 1.1rem;
  color: #333;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-left: 5px solid #d86982;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f7f7f7;
  z-index: 1;
}

.puntos ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #d86982;
  transition: width 0.7s ease;
  z-index: -1;
}

.puntos ul li:hover::before {
  width: 100%;
}

.puntos ul li:hover {
  color: #fff;
}

#pico {
  width: 30%;
}

/* Nuria */

.nuria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem 0;
}

p {
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  max-width: 700px;
}

.nuria img {
  width: 250px;
  height: auto;
  object-fit: cover;
}

/* Sección de contenido */

.contenido {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #df7e94;
  padding: 3rem 0rem;
}

.contenido p,
.contenido h3 {
  color: white;
}

.contenido .card h3 {
  color: #df7e94;
}

.cards-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #f5e0e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card p {
  color: #d86982;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.4;
}

.card-title {
  font-size: 20px;
  transition: color 0.3s ease;
}

.card:hover .card-title {
  color: #b84e6b;
}

.card-text {
  font-size: 16px;
}

/* Precio */

.price-del,
.price-def {
  font-size: 3rem;
}

.price-del {
  text-decoration: line-through;
  opacity: 0.6;
  margin: 30px;
}

.price-def {
  color: white;
  font-weight: bold;
}

/* Testimonios */

.testimonios {
  position: relative;
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", Arial, Helvetica, serif;
  background: #f7f7f7;
  font-size: 1em;
  height: 70vh;
}

/* Contenedor del carrusel */

.testimonial-carousel {
  padding: 4rem;
  position: relative;
  max-width: 600px;
}

/* Tarjeta de Testimonial */

.testimonial-slide {
  display: none;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5e0e9;
}

.testimonial-slide.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  display: block;
}

.testimonial-slide.exit-left {
  transform: translateX(-100%);
  opacity: 0;
}

.testimonial-text {
  font-size: 1.2rem;
  font-weight: 350;
  color: #333;
  margin-bottom: 1rem;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.testimonial-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d86982;
  margin: 10px;
}

.testimonial-author {
  font-size: 1.3rem;
  color: #d86982;
  font-weight: bold;
}

/* Preguntas */

.preguntas {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.preguntas-cont {
  width: 70%;
  margin: 5rem 0;
  padding: 0 1.5rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  background-color: #f5e0e9;
  font-family: "Montserrat", serif;
}

.main-title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
}
.main-title:before,
.main-title:after {
  content: "";
  display: block;
  margin: 0 0.2rem;
  flex: 1;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .item .title {
  color: #fff;
  border-color: #d86982;
  background-color: #d86982;
}

input[type="radio"]:checked + .item .title::after {
  transform: rotate(180deg);
}

input[type="radio"]:checked + .item .question {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s, opacity 0.7s;
}

.item {
  display: block;
  margin-bottom: 0.1rem;
}

.question-title {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  color: #d86982;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-title:hover {
  text-decoration: underline;
}

.question {
  width: 95%;
  margin: 0 auto;
  padding: 0 0.3rem;
  line-height: 1.6;
  color: #d86982;
  border-width: 0 1px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.garantia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
}

.garantia .columna-vert {
  width: 55%;
}

#reembolso {
  width: 17.5%;
  margin-bottom: 3rem;
}

/* Flechas */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  color: #d86982;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem 0.6rem;
  border-radius: 100%;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

.arrow:hover {
  color: #b84e6b;
}

/* Social */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d86982;
}

footer p {
  color: white;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}

/* Responsive */

/* Moviles */

@media (max-width: 600px) {
}

/* Tablets - Portatil */

@media (min-width: 601px) and (max-width: 1024px) {

  h3 {
    font-size: 1.5rem;
  }

  img#logo {
    width: 150px;
  }

  .social-icons img {
    width: 22px;
    margin: 0 10px;
  }

  .intro h1 {
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  .intro h2 {
    font-size: 0.8rem;
  }

  .intro button {
    padding: 1rem 1rem;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }

  /* Cards */

  .olcards .icon img {
    width: 35px;
  }

  .olcards .title {
    font-size: 0.75rem;
  }

  .olcards li::before {
    font-size: 1em;
  }

  .olcards {
    --cardsGap: 1rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 280px;
  }

  /* Puntos */

  .puntos {
    padding-top: 1rem;
    padding-bottom: 1.75rem;
  }

  .puntos ul {
    max-width: 300px;
  }

  #pico {
    display: none;
  }

  .puntos ul li {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
  }

  .nuria {
    padding: 0;
    margin: 0 1rem;
    text-align: center;
  }

  .nuria h3 {
    margin-bottom: 0.2rem;
  }

  .nuria .columna-horiz {
    padding-top: 0.5rem;
  }

  .nuria p {
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .nuria img {
    display: none
  }

  .garantia {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .garantia .columna-vert h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  .garantia .columna-vert p {
    font-size: 0.8rem;
  }

  .garantia #reembolso {
    order: 1;
    margin-bottom: 0;
    width: 20%;
  }

  .preguntas-cont {
    margin: 3rem 0;
  }
}

/* Desktop */

@media (min-width: 1025px) {
  img#logo {
    width: 190px;
    padding-top: 10px;
  }

  .social-icons img {
    width: 26px;
    margin: 0 15px;
  }

  .intro h1 {
    padding-top: 1rem;
    font-size: 1.8rem;
  }

  .intro h2 {
    font-size: 1.1rem;
    max-width: 550px;
  }

  .intro button {
    padding: 1rem 1.25rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  /* Cards */

  .olcards {
    --cardsGap: 1.2rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
  }

  .olcards li::before {
    font-size: 1.6em;
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 475px;
  }

  /* Puntos */

  .puntos ul {
    max-width: 450px;
  }

  .puntos ul li {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }

  #pico {
    width: 32.5%;
  }

  .nuria {
    padding: 1.5rem 0;
  }

  .nuria p {
    font-size: 1.15rem;
  }

  .nuria img {
    width: 20%;
  }

  .garantia .columna-vert h3 {
    font-size: 1.5rem;
  }
  .garantia .columna-vert p {
    font-size: 1rem;
    width: 85%;
  }

  .preguntas-cont {
    margin: 3rem 0;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  /* Header */

  img#logo {
    width: 215px;
    padding-top: 10px;
  }

  .social-icons img {
    width: 27px;
  }

  .social-icons {
    gap: 9px;
  }

  /* Intro */

  .intro h1 {
    font-size: 2.2rem;
  }

  .intro h2 {
    font-size: 1.4rem;
  }

  /* Puntos */

  .puntos ul {
    max-width: 450px;
  }

  .puntos ul li {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }

  #pico {
    width: 32.5%;
  }

  /* Garantía */

  .garantia .columna-vert {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 15px;
  }
}
