/* General */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff1e6;
  color: #333;
  font-family: "Lato", sans-serif;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 1rem;
}

.intro img#logo {
  width: 250px;
  margin-bottom: 1rem;
}

.intro h1 {
  font-size: 2.5rem;
  color: #d86982;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", serif;
}

.intro h2 {
  font-size: 1.5rem;
  color: #555;
  font-weight: 300;
  max-width: 600px;
  margin: 1rem auto;
  font-family: "Montserrat", serif;
}

.columna-horiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.columna-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

/* Cards */

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  align-items: center;
}

.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: #4a4a4a;
  --labelOffset: 1rem;
  --arrowClipSize: 0rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: #d86982;
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .content {
  background-color: #F5E0E9;
  --inlinePadding: 1.5em;
  --boxPadding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  gap: 0.25em 1em;
  position: relative;
  width: 525px;
}

.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}

.olcards li .icon {
  grid-area: icon;
  font-size: 2em;
}

.olcards li .content .title {
  flex-grow: 1;
  font-size: 1.25em;
  line-height: 1.3;
  text-align: center; 
}

.intro button {
  background-color: #d86982;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  transition: all 0.5s ease;
  margin-bottom: 2rem;
}

.intro button:hover {
  box-shadow: 0px 12px 12px rgba(78, 76, 76, 0.2);
  background-color: #b84e6b;
}

#Nuria-libro {
  width: 27.5%;
}

/* Sección de puntos */

.puntos {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #fff;
}

.puntos h3 {
  font-size: 2rem;
  color: #d86982;
  margin-bottom: 1rem;
  font-family: "Montserrat", serif;
}

.puntos p {
  font-size: 1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

.puntos ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.puntos ul li {
  font-size: 1rem;
  color: #333;
  background-color: #f7f7f7;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-left: 5px solid #d86982;
  border-radius: 4px;
}

/* Sección de contenido */

.contenido {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #fff1e6;
}

.contenido h3, .testimonios-title {
  font-size: 2rem;
  color: #d86982;
  margin-bottom: 1rem;
}

/* Testimonios */

.testimonios {
  position: relative;
  width: 100%;
  overflow: visible;
	margin: 0;
	padding: 0;
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	font-family: "Lato", Arial, Helvetica, serif;
	background: #f5e0e9;
	font-size: 1em;
  height: 70vh;
}

/* Contenedor del carrusel */
.testimonial-carousel {
  padding: 4rem;
  position: relative;
  max-width: 600px;
}

/* Tarjeta de Testimonial */
.testimonial-slide {
  display: none;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.testimonial-slide.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  display: block;
}

.testimonial-slide.exit-left {
  transform: translateX(-100%);
  opacity: 0;
}

.testimonial-text {
  font-size: 1.2rem;
  font-weight: 350;
  color: #333;
  margin-bottom: 1rem;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.testimonial-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d86982;
  margin: 10px;
}

.testimonial-author {
  font-size: 1.3rem;
  color: #d86982;
  font-weight: bold;
}

/* Flechas */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  color: #d86982;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem 0.6rem;
  border-radius: 100%;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

.arrow:hover {
  color: #b84e6b;
}

/* Social */

.social-icons img {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

.social-icons img {
  width: 28px;
  margin: 0px 20px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.social-icons img:hover {
  transform: scale(1.25) perspective(1px);
}

.social-icons {
  padding-top: 0.5rem;
}